.menu-item.twitter {
    margin-right: 10px;
}

.menu-item.twitter a {
    color: #1DA1F2; /* 推特蓝色 */
}

.menu-item.github a {
    color: #333; /* GitHub 黑色 */
}

.menu-item.github a:hover {
    color: #4078c0; /* GitHub 链接悬停时的颜色 */
}
