.ant-table-thead > tr > th.name {
  background-color: #ecd35d;
  color: white;
}

.ant-table-thead > tr > th.eth {
  background-color: #4CAF50;
  color: white;
}
.ant-table-thead > tr > th.eth_son {
  background-color: #74af4c;
  color: white;
}
.ant-table-thead > tr > th.zksync1 {
  background-color: #f0ad4e;
  color: white;
}
.ant-table-thead > tr > th.zks1_son {
  background-color: #f0794e;
  color: white;
}
.ant-table-thead > tr > th.zksync2 {
  background-color: #5bc0de;
  color: white;
}
.ant-table-thead > tr > th.zks2_son {
  background-color: #4e9ed4;
  color: white;
}
.ant-table-thead > tr > th.cross {
  background-color: #d9534f;
  color: white;
}
.ant-table-thead > tr > th.cross_son {
  background-color: #d9784f;
  color: white;
}
.ant-table-thead > tr > th.address {
  background-color: #fdb0ad;
  color: white;
}
.ant-table-thead > tr > th.action {
  background-color: #9d9d9d;
  color: white;
}
.ant-table-cell {
  text-align: center;
  font-size: 20px;
}
